.intro-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro-title {
  font-size: 32px;
  margin-top: 20px;
}

.intro-content {
  display: flex;
  align-items: flex-start;
  
  margin-top: 20px;
}

.intro-image {
  float: left;
}

.intro-description {
  margin-left: 20px;
}

.intro-description h3 {
  font-size: 18px;
}
