
  
  .video {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
  }

  .contet-overlay{
    position: absolute;
    display: flex;
    top: 80%;
    left: 50%;
    background-image: url('/imgs/bleach.png');
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    padding: 2vw 8vw;
    text-align: center;
    color: black;
    z-index: 1;
  }

  .contet-overlay h1{
    display: flex;
    font-style:oblique;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-weight: 700;
    font-size: 3vw;
    color: black;
    
  }

  .contet-overlay.fade-in {
    animation: fade-in-animation 2s ease forwards;
  }
  
  @keyframes fade-in-animation {
    0% {
      opacity: 0;
      
    }
    100% {
      opacity: 1;
      
    }
  }

  